
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-black: #000000f7 ;
  --color-background: #F0F0F7;
  --color-white: #fff;
  --color-line-in-white: #E6E6F0;

  font-size: 95%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body {
  height: 100%;
}

body {
  width: 100%;
  background-color:  var(--color-background) ;
}